<div>
    <div class="outer-container">
        <div id="information">
            <form action="#">
                <div id="od-sec">
                    <input type="text" class="f-input" id="origin" placeholder="Origin">
                    <input type="text" class="f-input" id="dest" placeholder="Destination">
                </div>

                <div id="sel-datetime">
                    <label><p>Select Date-Time</p></label>
                    <input type="date" class="f-input sel sel-date" placeholder="Date">
                    <input type="time" class="f-input sel" placeholder="Time-start">
                    <input type="time" class="f-input sel" placeholder="Time-end">
                </div>


                <div id="travel-type">
                    <label class="control control--radio">
                                <input type="radio" name="travel-type" value="Outbound"> Outbound
                            <div class="control__indicator"></div>
                        </label>
                    <label class="control control--radio">
                                <input type="radio" name="travel-type" value="Return"> Return
                            <div class="control__indicator"></div>
                        </label>
                </div>

                <input type="number" min-value="0" class="f-input price-sec" placeholder="Price">

                <div class="add-data">
                    <svg height="40px" width="40px" version="1.1" viewBox="0 0 16 16" x="0px" y="0px">
                            <path clip-rule="evenodd" d="M2,7h5v-5h2v5h5v2h-5v5h-2v-5h-5z" fill-rule="evenodd"></path>
                        </svg>
                </div>
            </form>
            <div id="code">
                <p>Standard: ICAO (click change to IATA).</p>
            </div>
        </div>
    </div>
    <div class="pick-sec">
        <div class="side">
            <h1 class="outbound-date">Outbound</h1>
            <div class="date-sec">
                <div class="flight-date">
                    <p>Flight at 2019-03-24</p>
                </div>

                <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                    <div class="f">
                        <div class="flight-info">
                            <div class="segments">
                                <div class="segment departure">
                                    <time>KHH</time>
                                    <span class="airport">8:00 AM(UTC+8)</span>
                                </div>
                                <div class="divider adaptive">
                                    <span class="plane"></span>
                                </div>
                                <div class="segment destination">
                                    <time>HKG</time>
                                    <span class="airport">9:25 AM(UTC+8)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flight-duration">
                            1h 20min Length of trip
                        </div>
                    </div>
                    <div class="flight-price-sec">
                        <h1>6,740</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <h1 class="return-date">Return</h1>
            <div class="date-sec">
                <div class="flight-date">
                    <p>Flight at 2019-03-24</p>
                </div>

                <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                    <div class="f">
                        <div class="flight-info">
                            <div class="segments">
                                <div class="segment departure">
                                    <time>KHH</time>
                                    <span class="airport">8:00 AM(UTC+8)</span>
                                </div>
                                <div class="divider adaptive">
                                    <span class="plane"></span>
                                </div>
                                <div class="segment destination">
                                    <time>HKG</time>
                                    <span class="airport">9:25 AM(UTC+8)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flight-duration">
                            1h 20min Length of trip
                        </div>
                    </div>
                    <div class="flight-price-sec">
                        <h1>6,740</h1>
                    </div>
                </div>
                <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                    <div class="f">
                        <div class="flight-info">
                            <div class="segments">
                                <div class="segment departure">
                                    <time>KHH</time>
                                    <span class="airport">8:00 AM(UTC+8)</span>
                                </div>
                                <div class="divider adaptive">
                                    <span class="plane"></span>
                                </div>
                                <div class="segment destination">
                                    <time>HKG</time>
                                    <span class="airport">9:25 AM(UTC+8)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flight-duration">
                            1h 20min Length of trip
                        </div>
                    </div>
                    <div class="flight-price-sec">
                        <h1>9,340</h1>
                    </div>
                </div>
            </div>

            <div class="date-sec">
                <div class="flight-date">
                    <p>Flight at 2019-03-24</p>
                </div>

                <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                    <div class="f">
                        <div class="flight-info">
                            <div class="segments">
                                <div class="segment departure">
                                    <time>KHH</time>
                                    <span class="airport">8:00 AM(UTC+8)</span>
                                </div>
                                <div class="divider adaptive">
                                    <span class="plane"></span>
                                </div>
                                <div class="segment destination">
                                    <time>HKG</time>
                                    <span class="airport">9:25 AM(UTC+8)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flight-duration">
                            1h 20min Length of trip
                        </div>
                    </div>
                    <div class="flight-price-sec">
                        <h1>6,740</h1>
                    </div>
                </div>
                <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                    <div class="f">
                        <div class="flight-info">
                            <div class="segments">
                                <div class="segment departure">
                                    <time>KHH</time>
                                    <span class="airport">8:00 AM(UTC+8)</span>
                                </div>
                                <div class="divider adaptive">
                                    <span class="plane"></span>
                                </div>
                                <div class="segment destination">
                                    <time>HKG</time>
                                    <span class="airport">9:25 AM(UTC+8)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flight-duration">
                            1h 20min Length of trip
                        </div>
                    </div>
                    <div class="flight-price-sec">
                        <h1>9,340</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function dragstart(e) {
        //start drag
        source = e.target;
        //set data
        e.dataTransfer.setData("text/plain", e.target.innerHTML);
        //specify allowed transfer
        e.dataTransfer.effectAllowed = "move";

        console.log(JSON.stringify(e.target.innerHTML))
    }

    function dragover(e) {
        //drag over
        e.preventDefault();
        //specify operation
        e.dataTransfer.dropEffect = "move";

        console.log("over");
    }

    function drop(e) {
        //drop
        e.preventDefault();
        e.stopPropagation();
        //update text in dragged item
        source.innerHTML = e.target.innerHTML;
        //update text in drop target
        e.target.innerHTML = e.dataTransfer.getData("text/plain");
    }
</script>