<div>
    <div class="outer-container">
        <div id="information">
            <form action="#" #f="ngForm" autocomplete="off">
                <div id="od-sec">
                    <div class="autocomplete"><input class="f-input" id="origin" [(ngModel)]="flight.origin" placeholder="Origin" (keyup)="flight.origin=flight.origin.toUpperCase()" name="origin" required/></div>
                    <div class="autocomplete"><input class="f-input" id="dest" [(ngModel)]="flight.dest" placeholder="Destination" name="dest" required/></div>
                  </div>

                <div id="sel-datetime">
                    <label><p>Select Date-Time</p></label>
                    <input type="date" class="f-input sel sel-date" [(ngModel)]="flight.date" placeholder="Date" name="dest">
                    <input type="time" class="f-input sel" placeholder="Time-start" [(ngModel)]="flight.tstart" name="tstart">
                    <input type="time" class="f-input sel" placeholder="Time-end" [(ngModel)]="flight.tend" style="margin-left: 5px;" name="tend">
                </div>


                <div id="travel-type">
                    <label class="control control--radio">
                                <input type="radio" name="travel-type" [(ngModel)]="flight.outbound" value="Outbound" name="isoutbound" checked> Outbound
                            <div class="control__indicator"></div>
                        </label>
                    <label class="control control--radio">
                                <input type="radio" name="travel-type" value="Return" name="isoutbound"> Return
                            <div class="control__indicator"></div>
                        </label>
                </div>

                <input type="number" min-value="0" class="f-input price-sec" [(ngModel)]="flight.price" placeholder="Price" name="price">

                <div class="add-data">
                    <svg height="40px" width="40px" version="1.1" viewBox="0 0 16 16" x="0px" y="0px" (click)="addNewFlight(f)">
                      <path clip-rule="evenodd" d="M2,7h5v-5h2v5h5v2h-5v5h-2v-5h-5z" fill-rule="evenodd"></path>
                    </svg>
                </div>
            </form>
            <div id="code">
                <p>Standard: ICAO (click change to IATA).</p>
            </div>
        </div>
    </div>
    <!-- list-manager -->
    <div class="pick-sec">
        <div class="side">
            <h1 class="outbound-date">Outbound</h1>
            <div class="date-sec">
                {{ sortByDate() }}
                <div *ngFor="let item of filterTypeForData(TravelType.Outbound); let index = index;">
                  <div *ngIf="filterTypeForData(TravelType.Outbound)[index-1] == null || (filterTypeForData(TravelType.Outbound)[index-1].datestart.toString()) != (item.datestart.toString()); else dateFilter">
                      <div class="flight-date">
                          <p>Flight at {{ item.datestart.getFullYear() + "-" + (item.datestart.getMonth() + 1) + "-" + item.datestart.getDate() }}</p>
                      </div>
                  </div>
                  <ng-template #dateFilter>
                  </ng-template>

                    <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)" *ngIf="item.type == TravelType.Outbound">
                        <div class="f">
                            <div class="flight-info">
                                <div class="segments">
                                    <div class="segment departure">
                                        <time>{{ item.from }}</time>
                                        <span class="airport">{{ item.datestart.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZoneName:'short' })}}</span>
                                    </div>
                                    <div class="divider adaptive">
                                        <span class="plane"></span>
                                    </div>
                                    <div class="segment destination">
                                        <time>{{ item.to }}</time>
                                        <span class="airport">{{ item.dateend.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZoneName:'short' })}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flight-duration">
                                1h 20min Length of trip
                            </div>
                        </div>
                        <div class="flight-price-sec">
                            <h1>{{ item.price }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <h1 class="return-date">Return</h1>
            <div class="date-sec">
                {{ sortByDate() }}
                <div *ngFor="let item of filterTypeForData(TravelType.Return); let index = index;">
                  <div *ngIf="filterTypeForData(TravelType.Outbound)[index-1] == null || (filterTypeForData(TravelType.Outbound)[index-1].datestart.toString()) != (item.datestart.toString()); else dateFilter">
                      <div class="flight-date">
                          <p>Flight at {{ item.datestart.getFullYear() + "-" + (item.datestart.getMonth()+1) + "-" + item.datestart.getDate() }}</p>
                      </div>
                  </div>
                  <ng-template #dateFilter>
                  </ng-template>

                    <div class="flight-sec" draggable="true" ondragstart="dragstart(event)" ondragover="dragover(event)" ondrop="drop(event)">
                        <div class="f">
                            <div class="flight-info">
                                <div class="segments">
                                    <div class="segment departure">
                                        <time>{{ item.from }}</time>
                                        <span class="airport">{{ item.datestart.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZoneName:'short' })}}</span>
                                    </div>
                                    <div class="divider adaptive">
                                        <span class="plane"></span>
                                    </div>
                                    <div class="segment destination">
                                        <time>{{ item.to }}</time>
                                        <span class="airport">{{ item.dateend.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZoneName:'short' })}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flight-duration">
                                1h 20min Length of trip
                            </div>
                        </div>
                        <div class="flight-price-sec">
                            <h1>{{ item.price }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
